<!--Bottom Nav Footer-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h5 class="display-6 navbar-text">&copy; Shankar Sigdel Copyright2020 COMP229-005-Assignment01 All Rights Reserved.</h5>
    </nav>
</footer>